:root {
  --accent-color: #2196f3;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --backgroung-color-dark-theme: #2f303a;
  --background-light-theme: #f5f4fa;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --logo-color: #000000;
}

/* <h1>...<h6>, <p> и <ul>. */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

/* Header section */
.header-page {
  color: var(--primary-text-color-theme-light);
  background-color: var(--primary-text-color-theme-dark);
}
.header-list:hover,
.header-list:focus {
  color: var(--accent-color);
}

.header-list {
  color: var(--secondary-text-color-theme-light);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-logo {
  color: var(--logo-color);
}

.header-list:hover,
.header-list:focus,
.link-number-phone-footer:hover,
.mail-link-footer:hover,
.link-number-phone-footer:focus,
.mail-link-footer:focus {
  color: var(--accent-color);
}

/* Navigation */
.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color);
}

.nav-list {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-button {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--background-light-theme);
  cursor: pointer;
}

.nav-list-button:hover,
.nav-list-button:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
}

.nav-list.link.current {
  color: var(--accent-color);
}

/* Hero section */
.hero-section {
  background-color: var(--backgroung-color-dark-theme);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
}
.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Excellence */
.excellence-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}
.text-pharagrapher {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

/* Gallery */
.gallery-title,
.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team */
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.11px;
  text-align: center;
  letter-spacing: 0.03em;
}

.text-pharagrapher-picture {
  font-size: 16px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

/* Footer section */
.footer-page {
  background-color: var(--backgroung-color-dark-theme);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link,
.footer-logo {
  color: var(--primary-text-color-theme-dark);
}

.mail-link-footer,
.link-number-phone-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link-footer {
  font-style: normal;
}
